
.titulo{
    color: #000;
    font-style:unset;
    font-size: 50px;
    margin-left: 50px;
    margin-left: 500px;
    margin-top: -250px;
    
}

.titulocont{
    color: #000;
    font-style:unset;
    font-size: 50px;
    margin-left: 50px;
    margin-left: 500px;
    margin-top: -50px;
}

.primeiraesquerda{
    width: 670px;
    height: 3500px;
    background-color: rgb(131, 29, 3);
}

.primeiradireita{
    width: 670px;
    height: 3500px;
    background-color: rgb(158, 36, 5);
    margin-top: -3500px;
    margin-left: 670px;
}

.pagina{
    color: rgb(255 255 255);
    font-size: 30px;
    margin-top: -3100px;
    margin-left: 40px;
}

.paginaweb{
    margin-left: 40px;
    width: 600px;
    height: 300px;
}

.text1{
    font-size: 30px;
    color: white;
    margin-left: 900px;
    margin-top: -200px;
}

.seta{
   width: 200px;
   height: 200px;
   margin-left: 650px;
   margin-top: -140px;
}


.conhecer{
    margin-top: -2950px;
    font-size: 30px;
    margin-left: 40px;
    color: white;
}

h3{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 40px;
    color: white;
}

.ip{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 105px;
    color: white;
    
}

.heroku{
    font-size: 10px;
    margin-top: -22px;
    margin-left: 430px;
    color: white;
}

.enderecotext{
    color: white;
    margin: 2px 40px;
}


.mapaIP{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 50px;
}

.mapaHeroku{
    width: 200px;
    height: 200px; 
    margin-top: -195px;
    margin-left: 110px;
}

.introdução{
    width: 1340px;
    height: 400px;
}

.percursotitle{
    margin-left: 710px;
    margin-top: -375px;
}

.percursotext{
    margin-left: 710px;
    color: white;
}

.percursotext1{
    margin-top: -12px;
    margin-left: 710px;
    color: white;
}

.percursotext2{
    margin-top: -12px;
    margin-left: 710px;
    color: white;
}

.comando{
    width: 350px;
    height: 350px;
    margin-left: 820px;
}

.comandotext{
    margin-top: -120px;
    margin-left: 1180px;
    font-size: 10px;
    color: white;
}

.globo{
    width: 600px;
    height: 300px;
    margin-top: 150px;
    margin-left: 700px;
}

.imagem{
    width: 350px;
    height: 350px;
    margin-top: -400px;
    margin-left: 150px;
}

.acesso{
    margin-top: 20px;
    font-size: 30px;
    color: white;
    margin-left: 40px;
}

.httptitle{
    font-size: 17px;
}

.http{
    width: 450px;
    height: 400px;
    margin-left: 60px;
}

.inspecttitle{
    margin-top: -40px;
    margin-left: 720px;
}

.inspecttext{
    color: white;
    margin-left: 720px;
    margin-top: -400px;
}

.inspecttext1{
    color: white;
    margin-left: 720px;
    margin-top: -10px;
}

.inspecttext2{
    color: white;
    margin-left: 720px;
    margin-top: -10px;
}

.network{
    width: 650px;
    height: 400px;
    margin-left: 680px;
}

.inspecttitlecont{
    margin-left: 40px;
    margin-top: 15px;
}

.inspecttextcont{
    color: white;
    margin-left: 40px;
}

.inspecttextcont1{
    color: white;
    margin-left: 40px;
    margin-top: -10px;
}

.headers{
    width: 650px;
    height: 400px;
    margin-left: 10px;
}

.inspecttextcont2{
    color: white;
    margin-top: -460px;
    margin-left: 700px;
}

.preview{
    width: 650px;
    height: 400px;
    margin-left: 680px;
}

.inspecttextcont3{
    color: white;
    margin-top: 20px;
    margin-left: 700px;
}

.timing{
    width: 650px;
    height: 400px;
    margin-left: 680px;
}

.inspecttextcont4{
    color: white;
    margin-top: -400px;
    margin-left: 40px;
    font-size: 25px;
}

.labhearders{
    width: 350px;
    height: 300px;
    margin-left: 5px;
    margin-bottom: 320px;
}

.labpreview{
    width: 305px;
    height: 300px;
    margin-bottom: 320px;
}

.labtiming{
    width: 350px;
    height: 300px;
    margin-left: -550px;
    margin-top: 300px;
    
}